/* VARIABLES */
:root {
  --heading: #151515;
  --para: #333333;
  --lightText: #555555;
  --notSelect: rgba(51, 51, 51, 0.6);
  --srmBlue: #0060af;
  --lightBlue: #52bad7;
  --red: #ba3b36;
  --border: #e0e0e0;
  --darkBg: #eaeaea;
  --bg: #f0f0f0;
  --lightBg: #fafafa;
  --orange: #faa61a;
  /* --orange: #52bad7; */
}

/* FONTS */
/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

.regu10,
.regu11,
.regu12,
.regu13,
.regu14,
.medi12,
.regu16,
.light13,
.inter {
  font-family: "Inter", sans-serif;
  color: var(--heading);
}

h2,
.semi16,
.semi14,
h1,
.mediP,
.popi,
h3 {
  font-family: "Poppins", sans-serif;
  color: var(--heading);
}

/* TEXT */
.light13,
.light {
  font-weight: 300;
}

.regu10,
.regu11,
.regu12,
.regu13,
.regu14,
.regu16 {
  font-weight: 400;
}

.medi12,
h2,
h1,
.mediP,
.medi,
h3 {
  font-weight: 500;
}

.semi14,
.semi16,
.semi {
  font-weight: 600;
}

h2 {
  font-size: 24px;
}

.regu10 {
  font-size: 10px;
}
.regu11 {
  font-size: 11px;
}
.regu12,
.medi12 {
  font-size: 12px;
}
.regu13,
.light13 {
  font-size: 13px;
}
.regu14,
.semi14 {
  font-size: 14px;
}
.regu16,
.semi16 {
  font-size: 16px;
}

h1 {
  font-size: 40px;
  color: white;
}

h3 {
  font-size: 30px;
  color: white;
}

/* PAGE PADDING */
#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  justify-content: center;
  display: flex;
}
button {
  background: none;
}

/* BACKGROUNDS */
.bgLightBg,
body {
  background-color: var(--lightBg);
}

.bgSrmBlue {
  background-color: var(--srmBlue);
}
.bgLightBlue {
  background-color: var(--lightBlue);
}
.bgDark {
  background-color: var(--para);
}

/* COLORS */
.bColor {
  color: var(--srmBlue);
}
.hColor {
  color: var(--heading);
}
.notSelectColor {
  color: var(--notSelect);
}
.paraColor {
  color: var(--lightText);
}
.wColor {
  color: white;
}
.lBColor {
  color: var(--lightBlue);
}
.oColor {
  color: var(--orange);
}

/* LINES */
.blueLine,
.lightLine {
  height: 1px;
  width: 100%;
  background-color: var(--lightBlue);
}
.lightLine {
  background-color: var(--darkBg);
}

/* HEADER TRANSITION */
.slide {
  /* transition: width 2s; */
  transform: translateY(100px);
}

/* LOGO */
.test {
  position: fixed;
  top: 10px;
  z-index: 3;
}

/* IMG */
.pdf {
  background: url(../images/pdf.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 0;
}

/* HOVER */
a:hover,
.filter:hover {
  color: var(--lightBlue);
}

#header a:hover {
  color: var(--srmBlue);
  font-weight: 600;
}
.selectHover:hover {
  cursor: pointer;
  color: white;
}

.contHover:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 1;
}

.contHover:hover a{
  color: var(--lightBlue);
}

/* COMMON CONTAINER */
.container {
  box-sizing: border-box;
  padding-inline-start: 120px;
  padding-inline-end: 120px;
  width: 100vw;
}

/* INPUT */
input[name="submitLogin"]:disabled {
  background-color: var(--bg);
  color: var(--notSelect);
  border: 1px solid var(--darkBg);
}

input[name="submitLogin"]:enabled {
  background-color: white;
  border: 1px solid var(--srmBlue);
}

/* SELECT */
select::-ms-expand {
  display: none;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

/* LINE SPACING */
.lineHeight15 {
  line-height: 1.5;
}

/* STICKY SUBHEADER - WHITE BAR */
.whiteBar {
  /* // position */
  height: 50px;
  background-color: white;
  /* // bottom border */
  border-bottom: 1px sold var(--darkBg);
  padding-inline: 120px;
}

.whiteBar button {
  color: var(--notSelect);
}

.whiteBarSticky {
  position: fixed;
  top: 0;
  background-color: var(--srmBlue);
  padding-inline: 30px;

}

.whiteBarSticky button {
  color: white;
  opacity: 0.7;
}

.whiteBar button:hover {
  border-bottom: 1px solid var(--lightBlue);
  padding-bottom: 15px;
  margin-top: 10px;
  color: var(--lightBlue);
  font-weight: 500;
}

.whiteBarSticky button:hover,
.whiteBarItem {
  /* color: white; */
  color: var(--orange) !important;
  opacity: 1 !important;
  font-weight: 500;
}
.whiteBarSticky button:hover {
  border-bottom: 1px solid  var(--orange);
  /* color: white !important; */
}

/* SLIDING ANIMATION TEXT */
#scrollText {
  /* text-align: right; */

  /* animation properties */
  -moz-transform: translateX(-5%);
  -webkit-transform: translateX(-5%);
  transform: translateX(-5%);
  
  -moz-animation: my-animation 22s linear infinite;
  -webkit-animation: my-animation 22s linear infinite;
  animation: my-animation 22s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-5%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-5%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-5%);
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}